.form-container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background-color: var(--white);
  border-radius: 30px;
  position: relative;
  top: 150px;
  margin: auto;
  margin-bottom: 200px;
}  
.form-container h2 {
    font-size: 22px;
    font-weight: 500;
    color: var(--black);
    margin-bottom: 20px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--black);
    border-radius: 10px;
    font-size: 14px;
  }

  #poolDescription {
    min-height: 50px;
    max-width: 100%;
  }

  #approvedAddresses {
    min-height: 50px;
    max-width: 100%;
  }
  
  .form-label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--black)
  }
  
  .form-toggle {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .form-toggle input {
    margin-right: 10px;
  }
  
  .form-select {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--black);
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .form-price {
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
    margin-top: 30px;
    border-top: 1px solid var(--gray);
    padding-top: 20px;
  }

  .form-toggle {
    display: flex;
    align-items: center;
  }
  
  .form-toggle .switch {
    --button-width: 30px;
    --button-height: 16px;
    --toggle-diameter: 10px;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 10px;
    --color-grey: var(--gray);
    --color-green: var(--black);
    margin-left: 10px;
  }
  
  .form-toggle .slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
  }
  
  .form-toggle .slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: var(--white);
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
  }
  
  .form-toggle .switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-green);
  }
  
  .form-toggle .switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  }
  
  .form-toggle .switch input[type="checkbox"] {
    display: none;
  }
  
  .form-toggle .switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
  }
  
  .form-toggle .switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
  }
  
  .radio-input input {
    display: none;
  }
  
  .radio-input {
    --container_width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: var(--white);
    color: var(--black);
    width: var(--container_width);
    overflow: hidden;
    border: 2px solid var(--black);
    margin-bottom: 10px;
  }
  
  .radio-input label {
    width: 50%; /* Each option takes 50% width */
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-weight: 500;
    font-size: 14px;
  }
  
  .selection {
    display: none;
    position: absolute;
    height: 100%;
    width: calc(var(--container_width) / 2); /* Adjusted for two options */
    z-index: 0;
    left: 0;
    top: 0;
    transition: .3s ease;
  }
  
  .radio-input label:has(input:checked) {
    color: var(--black);
  }
  
  .radio-input label:has(input:checked) ~ .selection {
    background-color: var(--yellow);
    display: inline-block;
  }
  
  .radio-input label:nth-child(1):has(input:checked) ~ .selection {
    transform: translateX(0); /* For the first option */
  }
  
  .radio-input label:nth-child(2):has(input:checked) ~ .selection {
    transform: translateX(var(--container_width)); /* For the second option */
  }
  