.center{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
  .center .title{
    color: var(--yellow);
    font-size: 70px;
    font-weight: 600;
  }
  .center .subtitle{
    color: var(--white);
    font-size: 40px;
    font-weight: 600;
  }
  .center .btns{
    margin-top: 20px;
  }
  .center .btns button{
    height: 55px;
    width: 170px;
    border-radius: 30px;
    border: none;
    margin: 0 10px;
    border: 2px solid var(--yellow);
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
  }
  .center .btns .left-button{
    background: var(--yellow);
    color: var(--black);
  }
  .center .btns .left-button:hover{
    color: var(--yellow);
    background: none;
  }
  .center .btns .right-button{
    color: var(--yellow);
    background: none;
  }
  .btns .right-button:hover{
    color: var(--black);
    background: var(--yellow);
  }