nav{
    position: fixed;
    width: 100%;
    padding: 10px 0;
    z-index: 999;
}
nav .menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.menu .logo a{
    text-decoration: none;
    color: var(--yellow);
    font-size: 42px;
    font-weight: 600;
}
.menu ul{
    display: inline-flex;
}
.menu ul li{
    list-style: none;
    margin-left: 7px;
}
.menu ul li:first-child{
    margin-left: 0px;
}
.menu ul li a{
    text-decoration: none;
    color: var(--yellow);
    font-size: 20px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 30px;
    border: 2px solid;
    border-color: transparent;
    transition: all 0.5s ease;
}
.menu ul li a:hover{
    border-color: var(--yellow);
}
.menu ul li a.active {
    border-color: var(--yellow);
}